    <!--Container referido a Educacion-->
    <div class="container">
        <div class="row">
          <div class="col-12"><h2><b>Educacion</b></h2>
          </div>
        </div>
        
        <div class="row">

          <div class="col-3">
            <img class="logoed" src="../../../assets/imagenes/Logos/argprog_logo.png" alt="logo_argprog">
          </div>

          <div class="col-7">
            
                <h5>Web Full Stack Jr</h5>
               <b>Periodo: </b>Enero 2022 - Enero 2023<br>
               <b>Institucion: </b>Argentina Programa - Ministerio de Desarrollo Productivo.<br>
            
          </div>

          <div class="col-2">
          </div>
        
        </div>

        <div class="row">
            <p>
              <br>
            </p>
        </div>

        <div class="row">
          <div class="col-3">
            <img class="logoed" src="../../../assets/imagenes/Logos/unca_logo.png" alt="logo_unca">
          </div>
          <div class="col-7">
            
                <h5>Tecnicatura en Informática con Orientación en Redes</h5>
               <b>Periodo: </b>Enero 2007 - Diciembre 2011<br>
               <b>Institucion: </b>Universidad Nacional de Catamarca.<br>
            
          </div>
          <div class="col-2">
          </div>
        </div>

        <div class="row">
            <p>
              <br>
            </p>
        </div>

        <div class="row">
          <div class="col-3">
            <img class="logoed" src="../../../assets/imagenes/Logos/unca_logo.png" alt="logo_unca">
          </div>
          <div class="col-7">
            
                <h5>Tecnicatura en Informática con Orientación en Mantenimiento</h5>
               <b>Periodo: </b>Enero 2007 - Diciembre 2011<br>
               <b>Institucion: </b>Universidad Nacional de Catamarca.<br>
            
          </div>
          <div class="col-2">
          </div>
        </div>
        <p>
          <br>
        </p>
      </div>