<nav>
    <button class="button button1" onclick="window.location.href = 'https://google.com'" >Login</button>
    <a class="red spo" href="https://open.spotify.com/artist/7edJrRvG8EjQa1JzNKh7CS" target="_blank"><img src="../../../assets/imagenes/iconos/spotifyiconblack.png" alt="Spotify"></a>
    <a class="red ins" href="https://www.instagram.com/adrian_tornado/" target="_blank"><img src="../../../assets/imagenes/iconos/instagramiconblack.png" alt="Instagram"></a>
    <a class="red you" href="https://www.youtube.com/channel/UCAm-9SpKAWwtCMGSCl80_pg" target="_blank"><img src="../../../assets/imagenes/iconos/youtubeiconblack.png" alt="YouTube"></a>
    <a class="red fac" href="https://facebook.com/amelusin?_rdc=1&_rdr" target="_blank"><img src="../../../assets/imagenes/iconos/facebookiconblack.png" alt="facebook"></a>
    <a class="arg" href="https://argentinaprograma.inti.gob.ar/" target="_blank"><img src="../../../assets/imagenes/iconos/argprogiconcolor1.png" alt="ArgetinaPrograma"></a>
 </nav> 