    <!--Comienza Seccion Proyectos-->
    <div class="container">
        <div class="row">
          <div class="col-12"><h2><b>Proyectos</b></h2>
            <p>
              <br>
            </p>
          </div>
        </div>
        <!-- Inicia contenido primer proyecto-->
        <div class="row">
          <div class="col-3">
            <h4 style="text-align:right">Portfolio Adrian</h4>
            <p style="text-align:right"><b>Agosto 2022</b></p>
          </div>
          <div class="col-7">
            <p>Creacion de Portfolio Web para curso de <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
              "Argentina Programa"</a> en el cual se integró conocimientos adquiridos de html, CSS, Bootstrap y Javascript, 
              el mismo fue realizado con una paleta de colores de <a href="https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8"
              target="_blank"> "coolors.co"</a>
            </p>
          </div>
          <div class="col-2">
              <!-- Activa/Abre Modal -->
              <button id="myBtn" class="button5 button6">Imagenes</button>
              <!-- Modal -->
              <div id="myModal" class="modal1">
                <!-- Contenido Modal -->
                <div class="modal-content">
                  <span class="close" style="background-color:#0077B6";><button class="button button1" style="float: right;">cerrar</button></span>
                  <header id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">  
                       <div class="carousel-item active" data-bs-interval="3000">
                         <img src="../../../assets/imagenes/Galeria/Galeria1.jpg" class="d-block w-100" alt="bannerrojo1">
                       </div>
                       <div class="carousel-item" data-bs-interval="3000">
                        <img src="../../../assets/imagenes/Galeria/Galeria2.jpg" class="d-block w-100" alt="bannerturquesa1">
                       </div>
                       <div class="carousel-item" data-bs-interval="3000">
                        <img src="../../../assets/imagenes/Galeria/Galeria3.jpg" class="d-block w-100" alt="bannerverde1">
                       </div>
                       <div class="carousel-item" data-bs-interval="3000">
                        <img src="../../../assets/imagenes/Galeria/Galeria4.jpg" class="d-block w-100" alt="bannervioleta1">
                       </div>
                       <div class="carousel-item" data-bs-interval="3000">
                        <img src="../../../assets/imagenes/Galeria/Galeria5.jpg" class="d-block w-100" alt="bannervioleta1">
                       </div>
                    </div>
                  </header>
                </div> 
              </div>
          </div>          
        </div>    
        <!-- Inicia contenido de segundo proyecto-->
        <div class="row">
          <div class="col-3">
  
          </div>
          <div class="col-7">
                
          </div>
          <div class="col-2">
  
          </div>          
            <p>
              <br>
            </p>
        </div>
      </div>   
      <!-- Parrafo vacio, sirve para dar aire a la parte inferior del fondo y no termine abruptamente la pagina-->
      
      <p>
        <br>
      </p>  
      