    <!--Comienza Seccion Proyectos-->
    <div class="container">
        <!--Inicia primera fila - titulo-->
        <div class="row">
          <div class="col-12"><h2><b>Proyectos</b></h2>
          </div>
        </div>
        <!-- Inicia segunda fila - contenido primer proyecto-->
        <div class="row">
          <div class="col-3">
            <h4 style="text-align:right">Portfolio Adrian</h4>
            <p style="text-align:right"><b>Agosto 2022</b></p>
          </div>
          <div class="col-7">
            <p>Creacion de Portfolio Web para curso de <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
              "Argentina Programa"</a> en el cual se integró conocimientos adquiridos de html, CSS, Bootstrap y Javascript, 
              el mismo fue realizado con una paleta de colores de <a href="https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8"
              target="_blank"> "coolors.co"</a>
            </p>
          </div>
          <div class="col-2">
              
          </div>          
        </div>
        <!--Inicia tercera fila - segundo proyecto-->
        <div class="row">
          <div class="col-3">
            <h4 style="text-align:right">Segundo Proyecto</h4>
            <p style="text-align:right"><b>Septiembre 2022</b></p>
          </div>
          <div class="col-7">
            <p>Creacion de Portfolio Web para curso de <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
              "Argentina Programa"</a> en el cual se integró conocimientos adquiridos de html, CSS, Bootstrap y Javascript, 
              ademas de todo lo anterior se realizo la pagina web con el Framework <a href="https://angular.io/" target="_blank">
                "Angular"</a>
            </p>
          </div>
          <div class="col-2">

          </div>
        </div>
    </div>