<!--Carousel con imagenes con transcicion tipo Fade-->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">  
       <div class="carousel-item active" data-bs-interval="3000">
         <img src="../../../assets/imagenes/bannerrojo1.jpg" class="d-block w-100" alt="bannerrojo1">
       </div>
       <div class="carousel-item" data-bs-interval="3000">
        <img src="../../../assets/imagenes/bannerturquesa1.jpg" class="d-block w-100" alt="bannerturquesa1">
       </div>
       <div class="carousel-item" data-bs-interval="3000">
        <img src="../../../assets/imagenes/bannerverde1.jpg" class="d-block w-100" alt="bannerverde1">
       </div>
       <div class="carousel-item" data-bs-interval="3000">
        <img src="../../../assets/imagenes/bannervioleta1.jpg" class="d-block w-100" alt="bannervioleta1">
       </div>
    </div>
  </div>
