    <!--Container referido a Experiencia-->
    <div class="container">
        <div class="row">
          <div class="col-12"><h2><b>Experiencia</b></h2>
        </div>
        </div>
        <div class="row">
          <div class="col-3">
            <img class="logoexp" src="../../../assets/imagenes/Logos/hinep_logo.png" alt="logo_hinep">
          </div>
          <div class="col-7">
            
                <h5>Hospital Interzonal de Niños "Eva Peron"</h5>
               <b>Puesto: </b>Administrador de Redes<br>
               <b>Periodo: </b>Mayo 2019 - Actualmente<br>
               <b>Descripcion: </b>Encargado del mantenimiento y reparacion de la red informatica del hospital,
                  como asi tambien de proyectar la escalabilidad de la misma.<br>
               <b>Logros: </b>se pudo interconectar mas de 250 computadoras desde las cuales, ademas de los 
                  trabajos diarios de cada Servicio, se pueden visualizar de manera digital las imagenes 
                  generadas por un tomografo, dos ecografos y una maquina de rayos X.<br>
            
          </div>
          <div class="col-2">
          </div>
        </div>

        <div class="row">
            <p>
              <br>
            </p>
        </div>

        <div class="row">
          <div class="col-3">
            <img class="logoexp" src="../../../assets/imagenes/Logos/adrian_logo.png" alt="logo_adrian">
          </div>
          <div class="col-7">
            
                <h5>Rodriguez Networking</h5>
               <b>Puesto: </b>Implementacion de redes de pequeña y mediana escala<br>
               <b>Periodo: </b>Marzo 2010 - Actualmente<br>
               <b>Descripcion: </b>Microemprendimiento propio con el cual he podido adquirir mucho conocimiento 
                  y profundizar en el Networking como en seguridad de redes de informatica.<br>
               <b>Logros: </b>Crecimiento constante de la magnitud de los trabajos realizados<br>  
            
          </div>
          <div class="col-2">
          </div>
        </div>

        <div class="row">
            <p>
              <br>
            </p>
        </div>

        <div class="row">
          <div class="col-3">
            <img class="logoexp" src="../../../assets/imagenes/Logos/hinep_logo.png" alt="logo_hinep">
          </div>
          <div class="col-7">
            
                <h5>Hospital Interzonal de Niños "Eva Peron"</h5>
               <b>Puesto: </b>Tecnico en Redes y Mantenimiento y Reparacion de PC's<br>
               <b>Periodo: </b>Marzo 2010 - Septiembre 2015<br>
               <b>Descripcion: </b>Encargado del mantenimiento y reparacion del equipamiento informatico,
                  como asi tambien de la red informatica interna.<br>
               <b>Logros: </b>Mapeo completo de Red informatica interna, puesta en funcionamiento al 100%
                  de todos puntos de conexion a la red. Reparacion de hardware y software de todo el
                  equipamiento disponible a la fecha. Eliminacion absoluta de todo software indeseado en
                  todos los equipos pertenecientes a la Red.<br>
            
          </div>
          <div class="col-2">
          </div>

          
        
        </div>
        <p>
          <br>
        </p>
      </div>