  <!--Container de contenido Nombre y Cargo-->
  <div class="container">
    <h1><b>Adrian Rodriguez</b></h1>
    <h2><b>Web Full-Stack Jr.</b></h2>
  </div> 
  <!--Container de contenido referido a Acerca de mi-->
  <div class="container">
    <div class="row">
      <div class="col-12"><h2><b>Acerca de mi</b></h2>
      </div>
      <div class="col-3">
      </div>
      <div class="col-7">
        <p>Versatil y capaz de realizar simultaneamente varias tareas. Con experiencia de entornos laborales
        en los que se valora el compromiso y la capacidad de trabajar en equipo. Me caracterizo por mi dinamismo,
        proactividad y entusiasmo.<br>
        Me gusta mucho viajar en motocicleta y programar, actualmente planeo combinar ambas pasiones, viajando
        y trabajando de manera remota.</p>
      </div>
      <div class="col-2">
      </div>
    </div>
    <p>
      <br>
    </p>
  </div>